<div [formGroup]="ingredientForm">
    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput placeholder="10" type="number" formControlName="amount">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Unit</mat-label>
        <input matInput type="text" editable="false" formControlName="unit" [resultFormatter]="formatter" [inputFormatter]="formatter"
            [ngbTypeahead]="searchUnits">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Ingredient Name</mat-label>
        <input matInput type="text" formControlName="name" editable="false" [resultFormatter]="formatter" [inputFormatter]="formatter"
            [ngbTypeahead]="searchIngredients">
    </mat-form-field>
</div>